# ------------------------------------------------
# NextAIAuthKit Environment Variables
# Date: 2025-09-01
# ------------------------------------------------
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# ------------------------------------------------
# next-auth.js Configuration
# ------------------------------------------------
NEXT_PUBLIC_WS_HOST=localhost
NEXT_PUBLIC_WS_PORT=8000
NEXT_PUBLIC_WS_PATH=/v1/ws/chat
NEXT_PUBLIC_WS_PROTOCOL=ws

# ------------------------------------------------
# Test ID for WebSocket connection
# ------------------------------------------------
# This ID is used to identify the test environment for WebSocket connections.
NEXT_PUBLIC_TEST_ID=test

# ------------------------------------------------
# Huggingface Varaibles and API Key
# ------------------------------------------------

# ------------------------------------------------
# OpenAI API Key
# ------------------------------------------------
OPENAI_API_KEY=

# ------------------------------------------------
# Ollama API Key
# ------------------------------------------------
OLLAMA_URL="http://localhost:11434"

# ------------------------------------------------
# Grok API Key
# ------------------------------------------------

# ------------------------------------------------
# Anthropic API Key
# ------------------------------------------------

# ------------------------------------------------
# Deepseek API Key
# ------------------------------------------------

# ------------------------------------------------
# Azure API Key
# ------------------------------------------------

# ------------------------------------------------
# AWS API Key
# ------------------------------------------------

# ------------------------------------------------
# AI Assistant Configuration
# ------------------------------------------------
NEXT_PUBLIC_INACTIVITY_TIMEOUT=75000
NEXT_PUBLIC_API_URL=http://localhost:1880
NEXT_PUBLIC_SOCKET_URL=http://localhost:1880
# ------------------------------------------------
# Enable or Disable Saving Chat History
# ----------------------------------------------
SAVE_CHAT_HISTORY=true
# ------------------------------------------------
# Database URL (for SQLite)
# ------------------------------------------------
DATABASE_URL="file:../prisma/app_db.sqlite"
# DATABASE_URL="file:./app_db.sqlite"
# ------------------------------------------------
# Google SSO Configuration
# ------------------------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# ------------------------------------------------
# NextAuth.js Configuration